<% @articles.each do |article| %>
  <p><%= article.title %></p>
  <p><%= article.content %></p>
<% end %>

<a href="#">New Article</a>

<form>
    Title: <input type="text" name="title"><br>
    Content: <input type="text" name="content"><br>
    <input type="submit" value="Create Article">
</form>

